<footer class="mt-8 bg-gray-200 dark:bg-gray-900 py-8 flex-shrink-0">
  <div class="max-w-screen-sm md:max-w-screen-md mx-auto px-8">
    <p class="text-sm py-2 text-right">
      
      <a href="/tags">Tags</a> / 
      <a href="/about">About</a> / 
      <a href="/links">Links</a> / 
      <a href="/snippets">Snippets</a> / 
      {% if site.twitter != "" %}
        <a href={{ site.twitter }}>Twitter</a>
      {% endif %}

    </p>
  </div>
</footer>