---
layout: main
---

{% include nav %}

<p class="text-5xl md:text-6xl font-black py-10 md:py-20 leading-tight">
 {{ title }}
</p>
  

<div class="prose dark:prose-dark pl-14 mt-8">
{{ content }}
</div>