---
layout: main
---

{% include nav %}
<div class="bg-blue-100 p-10">
<h1 class="text-5xl md:text-6xl font-black py-10 px-5  ">
    {{ title}}
</h1>

<div class="pl-5">
    <em>{{ date | date: "%Y-%m-%d" }}</em> &middot; 
    <span>{{ content | readTime }} min read</span>
</div>

</div>
<div class="prose dark:prose-dark pl-14 mt-8">
  {{ content }}
</div>

{% include author %}